body {
	margin: 0;
	padding: 0;
	font-family: arial;
	color: white;
	background-color: rgb(70, 70, 110);
}

a {
	background-color: rgb(60, 130, 170);
	color: black;
	display: inline-block;
	margin: 5px;
	border-radius: 3px;
	position: relative;
	text-decoration: none;
	padding: 5px 15px;
	transition: all 0.4s ease;
}

a:hover {
	color: white;
}

a::before {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	content: '';
	padding: 5px 15px;
	transition: all 0.4s ease;
	border: 2px solid rgb(60, 130, 170);
}

a:hover::before {
	transform: scale(1.1, 1.3);
}

.field {
	margin: 5px;
}

.modal {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -150%) scale(1.3, 0.8);
	width: 70%;
	background-color: white;
	color: black;
	padding: 10px;
	opacity: 0;
	z-index: 1000;
	pointer-events: none;
	border-radius: 3px;
	box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0);
	transition: all 0.4s ease;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1, 1);
	box-shadow: 0 0 0 100rem rgba(0, 0, 0, 0.8);
	opacity: 1;
	pointer-events: all;
}

.modal.alert {
	width: 300px;
}

label {
	display: block;
	margin: 5px;
}

input {
	display: block;
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #ddd;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.4s ease;
}

input:focus {
	border-color: rgb(60, 130, 170);
}

select {
	width: 100%;
	background-color: rgb(60, 130, 170);
	padding: 5px;
}

#drop {
	position: relative;
	width: 100%;
	height: 250px;
}

#drop img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 250px;
	opacity: 0.4;
}

#drop p {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.header {
	text-align: center;
}

.main {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.main > * {
	width: 500px;
	height: 500px;
	margin: 0 50px;
}

#pieces,
#target-pieces {
	display: flex;
	width: 500px;
	flex-wrap: wrap;
	line-height: 0px;
}

#targets {
	position: relative;
}

#targets > img {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: -1;
	width: 500px;
	height: 500px;
	opacity: 0.4;
}

#pieces img {
	transition: all 0.4s ease;
}

#pieces img.active {
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
	z-index: 1000;
}